{
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module", //module 시스템을 쓰겠다는 뜻
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    // 환경설정
    "browser": true, // 브라우저에서 돌아감
    "node": true, // 노드에서 돌아감
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"], // 확장
  "plugins": ["import", "react-hooks"]
}
